*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    background: linear-gradient(#07111f,#0b1220);
    color:white;
    display:flex;
    gap:30px;
    font-family:(Poppins)sans-serif;
    overflow-x: hidden;
}
/*sidebar-section*/
#sidebar{
    background: rgba(255,255,255,0.05);
    backdrop-filter: brul(10px);
    border-right: 1px solid rgba(255,255,255,0.05);
    background-color: #111827;
    padding:10px 20px;
    width:18%;
    top:0;
    left:0;
    overflow-y: auto;
}
#sidebar-heading{
    display:flex;
    gap:10px;
}
#sidebar-heading h2{
    color:royalblue;
    font-weight:bolder;
    font-size: 35px;
}
.sidebar-items{
    display:grid;
    gap:10px;
}
.sidebar-items a{
    color:#94a3b8;
    border-radius:15px;
    border:none;
    padding:20px;
    text-decoration:none; 
    background:#1e293b;
    padding:20px;
    border-radius:15px;
    border:none;
}
.sidebar-items a:hover{
    background: #2563eb;
}
.upgradetopro{
    background: #1e293b;
    backdrop-filter: brul(10px);
    border-radius:15px;
    padding:5px 10px;
    border:1px solid rgba(255,255,255,0.05);
    align-items: center;
    position:relative;
    top:20px;
}
.upgradetopro p{
    position:relative;
    bottom:10px;
    color:#94a3b8;
}
.upgradetopro a{
    background:#2563eb;
    color:white;
    padding:5px 25px;
    text-decoration: none;
    border-radius:10px;
    position:relative;
    bottom:10px;
    left:5px;
}
.upgradetopro i{
    color:#2563eb;
}
.user-profile{
    display:flex;
    gap:5px;
    position:relative;
    top:50px;
}
.userprofile-info{
    line-height:0px;
}
.user-profile span{
    background: #2563eb;
    border-radius: 5px;
    padding:2px 2px;

}
.user-profile i{
    color: white;
    background:orangered;
    border:1px solid orangered;
    border-radius:50%;
    padding:10px;
}
.sidebar-downicons{
    display:flex;
    gap:50px;
    position:relative;
    top:80px;
    left:10px;
}
/*dashboard-section*/
#dashboard-section{
    display:grid;
    gap:20px;
}
.dashboard-navbar{
    display:flex;
    justify-content: space-between;
    position:static;
    gap:200px;
    padding:5px 10px;
}
#welcome{
    position:relative;
    display:grid;
    line-height: 0px;
}
#welcome p{
    color:#94a3b8;
}
#input-search input{
    position:relative;
    right:90px;
    justify-content: center;
    width:100%;
    padding:10px 20px;
    border-radius:15px;
    background: rgba(255,255,255,0.05);
    color:white;
    border:solid 1px rgba(255,255,255,0.05);
}
#dashboard-navbaricons{
    display: flex;
    gap:10px;
}
#mode{
    border:1px solid rgba(255,255,255,0.05);
    border-radius: 50%;
    height:20px;
    width:20px;
    background: rgba(255,255,255,0.05);
}
/*dashboard-data*/
.dashboard-data{
    display:grid;
    grid-template-columns: repeat(6,1fr);
    gap:5px;
}
.data{
    display:flex;
    background:rgba(255,255,255,0.05);
    border-radius: 5px;
    border:1 px solid rgba(255,255,255,0.05);
    backdrop-filter: brul(10px);
    font-size:14px;
    height:100px;
}
.data-value{
    line-height: 0.7;
}
.data-icon i{
    border:1px solid rgba(255,255,255,0.05);
    border-radius:10px;
    padding:20px;
    position:relative;
    top:23px;
}
#trade-icon{
    color:#4f46e3;
    background: linear-gradient(135deg,rgba(255,255,255,0.05),#4f46e3);
}
#win-icon{
    color:#10b981;
    background:linear-gradient(135deg,rgba(255,255,255,0.05),#10b981);
}
#net-icon{
    color:#22c55e;
    background:linear-gradient(135deg,rgba(255,255,255,0.05),#22c55e);
}
#profit-icon{
    color:#f59e0b;
    background:linear-gradient(135deg,rgba(255,255,255,0.05),#f59e0b);
}
#average-icon{
    color:#8b5cf6;
    background:linear-gradient(135deg,rgba(255,255,255,0.05),#8b5cf6);
}
#expectancy-icon{
    color:#eab308;
    background:linear-gradient(135deg,rgba(255,255,255,0.05),#eab308);
}
/*middle-dashboard*/
.middle-dashboard{
    display:flex;
    gap:10px;
}
/*filter-dashboard*/
.filter-dashboard{
    background: #111827;
    border-radius:15px;
    border:1px solid rgba(255,255,255,0.05);
    padding:10px 20px;
    width:23%;
}
.filter-nav{
    display:flex;
    justify-content: space-between;
}
.more a{
    padding:10px 20px;
    text-decoration:none;
    color:white;
    border-radius: 10px;
    border:1px solid rgba(255,255,255,0.05);
}
.apply a{
    padding:10px 20px;
    text-decoration:none;
    color:white;
    border-radius:10px;
    border:1px solid rgba(255,255,255,0.05);
}
/*trades-dashboard*/
.trades-dashboard{
    background:#111827;
    border-radius:15px;
    border:1px solid rgba(255,255,255,0.05);
    padding:10px 20px;
    width:100%;
}
.trades-navbar{
    display:flex;
    justify-content: space-between;
}
.leftbottom a{
    text-decoration: none;
    color:white;
}
.right{
    display:flex;
    gap:10px;
}
.right a{
    text-decoration: none;
    color:white;
    padding:15px;
    border-radius:10px;
    border:1px solid rgba(255,255,255,0.05);
}
.nav{
    display:flex;
    justify-content:space-between;
}
.row{
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255,255,255,0.05);
}
#trades-select option{
    display:flex;
}
.trades-footer{
    display:flex;
    justify-content: space-between;
}
.trades-content{
    background: #1e293b;
    border-radius: 15px;
    padding:5px;
}
/*notes and emotion*/
.notesandemotion{
    display:flex;
    gap:10px;
}
.trades-notes{
    background:#111827;
    border-radius:15px;
    border:1px solid rgba(255,255,255,0.05);
    padding:10px 20px;
    width:100%;
}
.trades-notes a{
    text-decoration:none;
    color:white;
}
.emotion-tracker{
    background:#111827;
    border-radius:15px;
    border:1px solid rgba(255,255,255,0.05);
    padding:10px 20px;
    width:100%;
}
/*charts*/
.charts{
    display:flex;
    gap:10px;
}
/*performance overview*/
.doughnurt{
    background:#111827;
    border:1px solid rgba(255,255,255,0.05);
    border-radius:15px;
    padding:10px 20px;
    width:100%;
}
.doughnurt-nav{
    display:flex;
    justify-content: space-between;
}
.performance-chart{
    display:flex;
}
/*P/L By Day*/
.bar{
    background:#111827;
    border:1px solid rgba(255,255,255,0.05);
    border-radius:15px;
    padding:10px 20px;
    width:100%;
}
/*setupandcalendar*/
.setupandcalendar{
    display:flex;
    gap:10px;
}
.bestsetups{
    background:#111827;
    border:1px solid rgba(255,255,255,0.05);
    border-radius:15px;
    padding:10px 20px;
    width:100%;
}
.breakout, .pullback,.trendline, .reversal{
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255,255,255,0.05);
}
.journalcalendar{
    background:#111827;
    border:1px solid rgba(255,255,255,0.05);
    border-radius:15px;
    padding:10px 20px;
    width:100%;
}
.calendar-content{
    display:flex;
    justify-content: space-between;
}